#Non Linear Regression Models


*   K-Nearest Neighbor
*   Support Vector Regression
*   Artificial Neural Networks
*   CART(Classification & Regression Tree)
*   Random Forests
*   Gradient Boosting Machines
*   XGBoost
*   Light GBM
*   CatBoost

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale
from sklearn.preprocessing import StandardScaler
from sklearn import model_selection
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn import neighbors

from warnings import filterwarnings
filterwarnings("ignore")

# K-Nearest Neighbor

It simply based on the calculation of difference between the given X values and every sample of data
For example let's say we indicated X1 and X2.Now we compare every X1 data in the dataset against our determined X1 data and same applies to X2.We calculate the difference via distance calculation methods like Euclidean Distance Formula.Then we select nearest samples.

Steps:
- Determine neighbor number (K)
- Calculate distance between the unknown spot and all spots
- Sort the distances and select the nearest samples determined as k number
- For Classification problems: give the Most often class
  For Regression: give Mean value as prediction value

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

df = pd.read_csv("/content/Hitters.csv")
df.dropna(inplace=True)
dms = pd.get_dummies(df[["League","Division","NewLeague"]]) # One hot encoding
y = df["Salary"]
X_= df.drop(columns=["League","Division","NewLeague"],axis=1).astype(float)
X = pd.concat(objs=[X_,dms[["League_N","Division_W","NewLeague_N"]]],axis=1)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=50)

In [3]:
X_train.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,Salary,League_N,Division_W,NewLeague_N
189,484.0,127.0,20.0,66.0,65.0,67.0,7.0,3006.0,844.0,116.0,436.0,458.0,377.0,1231.0,80.0,7.0,1183.333,1,0,1
13,239.0,60.0,0.0,30.0,11.0,22.0,6.0,1941.0,510.0,4.0,309.0,103.0,207.0,121.0,151.0,6.0,700.000,0,0,0
306,127.0,32.0,4.0,14.0,25.0,12.0,19.0,8396.0,2402.0,242.0,1048.0,1348.0,819.0,167.0,18.0,6.0,500.000,1,1,1
110,441.0,128.0,16.0,70.0,73.0,80.0,14.0,6675.0,2095.0,209.0,1072.0,1050.0,695.0,97.0,218.0,16.0,1500.000,0,1,0
164,257.0,66.0,5.0,31.0,26.0,32.0,14.0,3910.0,979.0,33.0,518.0,324.0,382.0,87.0,166.0,14.0,250.000,1,1,0

In [4]:
#MODEL

knn_model = KNeighborsRegressor()
model = knn_model.fit(X_train,y_train)

model.n_neighbors

5

In [5]:
model.metric

'minkowski'

In [6]:
dir(model)

['__abstractmethods__',
 '__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_algorithm_metric',
 '_check_feature_names',
 '_check_n_features',
 '_estimator_type',
 '_fit',
 '_fit_X',
 '_fit_method',
 '_get_param_names',
 '_get_tags',
 '_kneighbors_reduce_func',
 '_more_tags',
 '_parameter_constraints',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_tree',
 '_validate_data',
 '_validate_params',
 '_y',
 'algorithm',
 'effective_metric_',
 'effective_metric_params_',
 'feature_names_in_',
 'fit',
 'get_params',
 'kneighbors',
 'kneighbors_graph',
 'leaf_size',
 'metric',
 'metric_params',
 'n_features_in_',
 'n_jobs',
 'n_neighbors',
 'n_samples_fit_',
 'p',
 'predict',
 'radius',
 'score',
 'set_params',
 'weights']

In [7]:
#Prediction

y_pred=model.predict(X_test)

In [8]:
np.sqrt(mean_squared_error(y_test,y_pred))

279.7128848364467

In [9]:
pred_df=pd.DataFrame(y_pred,columns=["Predicted"])
pred_df["Actual"] = y_test
pred_df

    Predicted  Actual
0     98.5000     NaN
1    636.6666     NaN
2    191.0000   480.0
3     97.5000     NaN
4    684.3334     NaN
..        ...     ...
61   258.0000   275.0
62   894.5000     NaN
63   188.9000     NaN
64   456.6668     NaN
65   107.0000     NaN

[66 rows x 2 columns]

In [10]:
# MODEL TUNING
dir(model)

['__abstractmethods__',
 '__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_algorithm_metric',
 '_check_feature_names',
 '_check_n_features',
 '_estimator_type',
 '_fit',
 '_fit_X',
 '_fit_method',
 '_get_param_names',
 '_get_tags',
 '_kneighbors_reduce_func',
 '_more_tags',
 '_parameter_constraints',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_tree',
 '_validate_data',
 '_validate_params',
 '_y',
 'algorithm',
 'effective_metric_',
 'effective_metric_params_',
 'feature_names_in_',
 'fit',
 'get_params',
 'kneighbors',
 'kneighbors_graph',
 'leaf_size',
 'metric',
 'metric_params',
 'n_features_in_',
 'n_jobs',
 'n_neighbors',
 'n_samples_fit_',
 'p',
 'predict',
 'radius',
 'score',
 'set_params',
 'weights']

In [12]:


RMSE = []

for k in range(10):
  k +=1
  model = KNeighborsRegressor(n_neighbors=k).fit(X_train,y_train)
  y_pred = model.predict(X_test)
  rmse = np.sqrt(mean_squared_error(y_pred,y_test))
  RMSE.append(rmse)
  print(f"neighbor number :{k} ---- RMSE for {k} neighbor number:{rmse}")

neighbor number :1 ---- RMSE for 1 neighbor number:217.09766950384335
neighbor number :2 ---- RMSE for 2 neighbor number:245.02602992529336
neighbor number :3 ---- RMSE for 3 neighbor number:260.25392575434955
neighbor number :4 ---- RMSE for 4 neighbor number:272.4214607100577
neighbor number :5 ---- RMSE for 5 neighbor number:279.7128848364467
neighbor number :6 ---- RMSE for 6 neighbor number:285.2362846772276
neighbor number :7 ---- RMSE for 7 neighbor number:295.2993243197654
neighbor number :8 ---- RMSE for 8 neighbor number:305.3263377179035
neighbor number :9 ---- RMSE for 9 neighbor number:316.1845276606918
neighbor number :10 ---- RMSE for 10 neighbor number:324.62479245137854

In [16]:
# KNN by sklearn

knn_params = {"n_neighbors":np.arange(1,30,1)}
knn= KNeighborsRegressor()
model = GridSearchCV(knn, knn_params, cv=10).fit(X_train,y_train)

model.best_params_ #We found the best parameters

{'n_neighbors': 1}

In [19]:
knn_tuned = KNeighborsRegressor(n_neighbors=model.best_params_["n_neighbors"],).fit(X_train,y_train)
y_pred = knn_tuned.predict(X_test)
mse=np.sqrt(mean_squared_error(y_pred,y_test))
mse

217.09766950384335